html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column;
    justify-items: center;


    main {
        flex: 1;
    }
}
