form {
    .required::before {
        position: relative;
        content: "*";
        color: red;
        margin: 0 3px;
    }

    .form-control {
        color: #212529;
    }

    label {
        cursor: pointer;
    }

    & input, textarea, select {
        &::placeholder {
            color: #afafaf !important;
            font-style: italic;
        }
    }

}
