@use "variables" as *;
@use "mixins" as *;
@use "color" as *;


header {
    position: sticky;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    top: 0;

    .header-area {
        box-shadow: 0 4px 5px 0 #e3e3e3;

        & .main-header {
            z-index: 10;
            min-height: 60px;

            & ul {
                & > li:hover {
                    & > ul.submenu {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                    }
                }
            }


            @media #{$md}{
            }
            @media #{$sm}{
            }
            @media #{$xs}{
            }

            & .logo {
                display: flex;
                align-items: center;

                & img {
                    margin-right: 10px;
                    transform: rotate(140deg);

                }
            }

            .main-menu {

                & ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0 20px;


                    > * {
                        margin: 0 15px;
                    }


                    & a {
                        z-index: 1;
                        line-height: 2.2;
                    }


                    & ul.submenu {
                        position: absolute;
                        width: 170px;
                        background: #fff;
                        left: 0;
                        top: 120%;
                        visibility: hidden;
                        opacity: 0;
                        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                        padding: 17px 0;
                        border-top: 5px solid #4043bc;
                        @include transition(.3s);

                        & > li {
                            margin-left: 7px;
                            display: block;

                            & > a {
                                padding: 6px 10px !important;
                                font-size: 14px;
                                color: #0b1c39;
                                text-transform: capitalize;

                                &:hover {
                                    color: $theme-color;
                                    background: none;
                                }

                                & i {
                                }
                            }
                        }
                    }
                }
            }


        }

        .header-top .header-info-right .header-social a i {
            @include transition(.4s);
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
        }

        .header-top .header-info-right .header-social a:hover i {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }
    }
}

// Header left right padding
.header-transparrent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

// Header Bottom


.top-bg {
    background: #002d5b;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: $theme-color !important;
}

.slicknav_nav {
    margin-top: 40px;
    box-shadow: 0 4px 5px 0 #e3e3e3;
    position: absolute;
    left: 0;
    width: 100vw;

    & .btn {
        min-width: unset;
        padding: 5px;
    }
}


.slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: $theme-color;
}

.slicknav_menu {
    background: transparent;
    margin-top: 5px !important;
}

.mobile_menu {
    z-index: 99;
}

