table {
    & .btn {
        min-width: unset;
        padding: 5px;
        background-color: unset;

        &.btn-warning {
            background-color: orange;
        }

        &.btn-danger {
            background-color: red;
        }
    }



}


