table {
    & tr {

        display: flex;
        flex-wrap: wrap;

        & th, & td {
            flex: 1;
        }

        & th {
            word-break: normal;
        }

        & td {
            word-break: break-word;
        }
    }


}


