@use "variables" as *;
@use "color" as *;

.visit-area {
    .single-visited {
        .visited-img {
            position: relative;

            img {
                width: 100%;
            }
        }

        .visited-cap {
            position: absolute;
            bottom: 30px;
            left: 0;
            background: hsl(0deg 0% 100% / 90%);
            width: 85%;
            border-radius: 0 10px 0 0;
            padding: 29px 10px 10px 50px;

            @media #{$lg}{
                padding: 20px 10px 10px 20px;
            }
            @media #{$md}{
                padding: 14px 10px 1px 32px;
            }

            h3 {
                font-size: 1.5vw;
                font-weight: 600;
                margin-bottom: 8px;
                @media all and (max-width: 768px) {
                    font-size: 1.2rem;
                }

                a {
                    color: $heading-color;

                    &:hover {
                        color: $theme_color;
                    }
                }
            }

            p {
                margin: 0;
                font-size: 1rem;
            }
        }
    }
}
